
server_ip=10.0.3.23
server_pass=hadoophive
server_unmae=hadoop
server_port=10000

obd_table=outlog_obd
table_name=analytics_test
col_list=msisdn bigint, call_from_cli string
partition=operator string, circle string, monyear string
stored_as=textfile
field_delimiter=,
line_terminator=\\n
escape_character=\\\\